.logo {
  background-color: #32ceff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.logo .div {
  background-color: #32ceff;
  border: 1px none;
  height: 844.41px;
  overflow: hidden;
  position: relative;
  width: 390.88px;
}

.logo .overlap-group {
  height: 617px;
  left: 45px;
  position: absolute;
  top: 188px;
  width: 504px;
}

.logo .imagem {
  height: 378px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 239px;
  transform: rotate(-0.06deg);
  width: 292px;
}

.logo .decorations {
  height: 527px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 497px;
}

.logo .ellipse {
  background: linear-gradient(180deg, rgb(188, 249, 255) 0%, rgba(130, 239, 255, 0) 100%);
  border-radius: 191.5px;
  height: 383px;
  left: 114px;
  opacity: 0.2;
  position: absolute;
  top: 144px;
  width: 383px;
}

.logo .ellipse-2 {
  background-color: #ffffff;
  border-radius: 6px;
  height: 12px;
  left: 10px;
  position: absolute;
  top: 164px;
  width: 12px;
}

.logo .ellipse-3 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 20px;
  left: 297px;
  position: absolute;
  top: 12px;
  width: 20px;
}

.logo .ellipse-4 {
  border: 2px solid;
  border-color: #81ecff;
  border-radius: 3.5px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 184px;
  width: 7px;
}

.logo .ellipse-5 {
  border: 2px solid;
  border-color: #81ecff;
  border-radius: 3.5px;
  height: 7px;
  left: 282px;
  position: absolute;
  top: 0;
  width: 7px;
}

.logo .esperando-aquela {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.7px;
  line-height: 30.4px;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 297px;
}

.logo .text-wrapper {
  font-weight: 600;
}

.logo .span {
  font-weight: 800;
}

.logo .text-wrapper-2 {
  font-weight: 600;
}

.logo .div-2 {
  height: 44px;
  left: 68px;
  position: absolute;
  top: 99px;
  width: 256px;
}

.logo .icon-box-iso {
  height: 49px;
  left: -2px;
  position: absolute;
  top: -3px;
  width: 47px;
}

.logo .h-1 {
  -webkit-text-stroke: 0.5px #32ceff;
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 20px;
  left: 57px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-shadow: 2px 3px 6px #00000033;
  top: 11px;
  transform: rotate(-0.06deg);
  white-space: nowrap;
}

.logo .native-status-bar {
  background-color: #31cdff99;
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-0.06deg);
  width: 390px;
}

.logo .text-wrapper-3 {
  color: #090a0a;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 16px;
  left: 30px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.logo .mobile-signal {
  background-image: url(../../../static/img/mobile-signal.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 303px;
  position: absolute;
  top: 24px;
  width: 18px;
}

.logo .wifi {
  background-image: url(../../../static/img/union.svg);
  background-size: 100% 100%;
  height: 11px;
  left: 326px;
  position: absolute;
  top: 23px;
  width: 15px;
}

.logo .battery {
  height: 13px;
  left: 347px;
  position: absolute;
  top: 22px;
  width: 27px;
}
